In [6]:
# Participante: Renan D. D. Fiamoncini
# Esse código faz parte das atividades práticas que estou fazendo na Imersão Dados com Pyhton, da Alura, evento ocorrido nos dias 05 a 08 ago. 2025.
# Todos os conteúdos disponibilizados pela imersão ficam disponíveis na plataforma da Alura por tempo limitado para não assinantes da plataforma. Para rever a imersão após o prazo, é necessário ser estudante assinante da plataforma.

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [3]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
# Como dá pra ver na tabela acima, o Python analisa as linhas de tabela iniciando na linha nº 0.

In [ ]:
# df = dataframe

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [ ]:
# Agora, com o df.info(), conseguimos ver todas as linhas e o tipo de dado de cada uma.

In [7]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
# Pq só são trazidos dados numéricos? Pq essas análises são

In [8]:
df.shape

(133349, 11)

In [ ]:
# df.shape nos deu o número de linhas e de colunas do arquivo puxado pelo df

In [ ]:
# df.shape não tem o parênteses após ele pois é um atributo, não é método ou função

In [ ]:
# df.shape é um vetor

In [19]:
linhas, colunas = df.shape[0], df.shape[1]

In [22]:
print("Linhas:", linhas)
print("Colunas", colunas)

Linhas: 133349
Colunas 11

In [49]:
# Após declarar as variáveis 'linhas' e 'colunas', é preciso clicar no botão de play na esquerda, o de 'Executar célula', para que o print na linha seguinte possa acessá-las.

In [47]:
df.columns

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia_empregado', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
# Nesse momento, é comentado na aula sobre a parte de geração de código usando a I.A. do Google Gemini (associada/"embutida" ao Colab)
# Prompt pra usar: "traduza para mim todas as colunas do dataframe df para português brasileiro"

In [48]:
# Traduzindo as colunas para português brasileiro
colunas_traduzidas = {
    'ano_trabalho': 'ano',
    'nivel_experiencia': 'senioridade',
    'tipo_emprego': 'contrato',
    'cargo': 'cargo',
    'salario': 'salario',
    'moeda_salario': 'moeda',
    'salario_em_usd': 'usd',
    'residencia_empregado': 'residencia',
    'taxa_remoto': 'remoto',
    'localizacao_empresa': 'empresa',
    'tamanho_empresa': 'tamanho_empresa'
}

df = df.rename(columns=colunas_traduzidas)

# Exibindo as colunas traduzidas para verificar
display(df.columns)

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [ ]:
# Mais adiante na aula, vimos que os nomes de colunas gerados pela I.A. não era muito práticos e voltamos para consertar.
# Por já termos mudado os nomes do inglẽs para portuguÊs anteriormente, tivemos que ir nas colunas_traduzidas e colocar dos nomes atuais para os novos.

In [ ]:
# Verifiquei o prompt que me foi gerado e analisei o script gerado por conta própria e depois comparando com o gerado pelos instrutores/profs da aula.
# No final do script deles, foi gerada uma parte para que, a partir de então, fosse usada a df renomeada a partir de então. Isso foi gerado no meu um pouco diferente, mas deu certo, segue teste abaixo:

In [40]:
df.describe()

        ano_trabalho       salario  salario_em_usd    taxa_remoto
count  133339.000000  1.333490e+05   133349.000000  133349.000000
mean     2024.358770  1.632833e+05   157617.272098      20.905669
std         0.680627  2.173860e+05    74288.363097      40.590044
min      2020.000000  1.400000e+04    15000.000000       0.000000
25%      2024.000000  1.060200e+05   106000.000000       0.000000
50%      2024.000000  1.470000e+05   146206.000000       0.000000
75%      2025.000000  1.990000e+05   198000.000000       0.000000
max      2025.000000  3.040000e+07   800000.000000     100.000000

In [ ]:
# Para acessar uma coluna específica, usaremos:

In [52]:
df['senioridade'].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [34]:
# SE = Sênior, MI = Mid/Intermediário, EN = Entry, EX = Executivo. Depois entenderemos melhor essas siglas.

In [51]:
df['contrato'].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
# FT = Fulltime, CT = Contrato Temporário, PT = Part-time, FL = Freelance

In [50]:
df['remoto'].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [ ]:
# Para facilitar, voltaremos no script gerado pela I.A. e ajustaremos os nomes das colunas traduzidas.

In [ ]:
# Na parte de rmotos, o 0 seria totalmente presencial (0% remoto), 100 seria totalmente rmoto (100% remoto), e 50 seria híbrido (50% remoto).

In [53]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [ ]:
# M = Medium, L = Large, S = Small

In [ ]:
# Além de renomearmos colunas anteriormente, pode ser relevante mudar o nome das siglas para que pessoas não especialistas consigam entender mais à frente no gráfico.
# Criaremos um dicionário para a renomeação.

In [ ]:
# Prompt: "traduza para portugues brasileiro as categorias da coluna 'senioridade' do dataframe DF"

In [ ]:
# Dicionário para traduzir as siglas da coluna 'senioridade'
senioridade_traduzida = {
    'SE': 'Sênior',
    'MI': 'Intermediário',
    'EN': 'Iniciante',
    'EX': 'Executivo'
}

# Renomeando os valores na coluna 'senioridade'
df['senioridade'] = df['senioridade'].replace(senioridade_traduzida)

# Exibindo os valores únicos e suas contagens na coluna 'senioridade' para verificar
display(df['senioridade'].value_counts())

In [ ]:
# Copiei e colei o prompt da I.A. abaixo ajustando os nomes das senioridades:

In [54]:
# Dicionário para traduzir as siglas da coluna 'senioridade'
senioridade_traduzida = {
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Junior',
    'EX': 'Executivo'
}

# Renomeando os valores na coluna 'senioridade'
df['senioridade'] = df['senioridade'].replace(senioridade_traduzida)

# Exibindo os valores únicos e suas contagens na coluna 'senioridade' para verificar
display(df['senioridade'].value_counts())

senioridade
Sênior       77241
Pleno        40465
Junior       12443
Executivo     3200
Name: count, dtype: int64

In [ ]:
# Prompt: "traduza para portugues brasileiro as categorias da coluna 'contrato' do dataframe DF"

In [55]:
# Dicionário para traduzir as siglas da coluna 'contrato'
contrato_traduzido = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
}

# Renomeando os valores na coluna 'contrato'
df['contrato'] = df['contrato'].replace(contrato_traduzido)

# Exibindo os valores únicos e suas contagens na coluna 'contrato' para verificar
display(df['contrato'].value_counts())

contrato
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [ ]:
# Prompt: "traduza para portugues brasileiro as categorias da coluna 'tamanho_empresa' do dataframe DF"

In [56]:
# Dicionário para traduzir as siglas da coluna 'tamanho_empresa'
tamanho_empresa_traduzido = {
    'M': 'Média',
    'L': 'Grande',
    'S': 'Pequeno'
}

# Renomeando os valores na coluna 'tamanho_empresa'
df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa_traduzido)

# Exibindo os valores únicos e suas contagens na coluna 'tamanho_empresa' para verificar
display(df['tamanho_empresa'].value_counts())

tamanho_empresa
Média      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [ ]:
# Acima só troquei a tradução M = "Médio" para M = "Média"

In [ ]:
# Prompt: "traduza para portugues brasileiro as categorias da coluna 'remoto' do dataframe DF"

In [57]:
# Dicionário para traduzir as categorias da coluna 'remoto'
remoto_traduzido = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
}

# Renomeando os valores na coluna 'remoto'
df['remoto'] = df['remoto'].replace(remoto_traduzido)

# Exibindo os valores únicos e suas contagens na coluna 'remoto' para verificar
display(df['remoto'].value_counts())

remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [59]:
# Vamos agora rever como ficou tudo traduzido:

In [58]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [60]:
df.describe(include="object")

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [ ]:
# A tabela acima dá colunas categóricas e linhas.
# 'count' é a contagem de quantos valores temos para aquela coluna.
# 'unique' são valores únicos, para cada tipo de coisa (nº de tipos de senioridades, nº de tipos de contratos, nº de tipos de cargos, etc).
# 'top' é a linha de qual informação é mais frequente para cada coluna.
# 'freq' dá quantas vezes o valor do 'top' aparece, ou seja, quantas vezes o valor mais frequente aparece em cada caso.